{% extends 'base.html' %}
{% load static %}
{% load materializecss %}

{% block content %}

    <h2 class="center">{{ movie.title }}</h2>

    <div class="row">
        <div class="col s4 center">
            <img class="responsive-img poster hoverable" src="{{ movie.poster.url }}" alt="{{ movie.title }}">
            {% if user.is_authenticated %}
                <div class="center">
                    <form action="#" method="post">
                        {% csrf_token %}
                        {{ form|materializecss }}
                        <button class="btn black weight-full" type="submit" value="sent">
                            <i class="material-icons large icon-middle">forward</i> Rate
                        </button>
                    </form>
                </div>
            {% endif %}
        </div>

        <div class="col s8">
            <div class="user-info z-depth-5">
                <ul class="collection grey lighten-2 treed-right-list">
                    <li class="collection-item  blue-grey darken-1">
                       <h5>
                           <i class="material-icons left icon-middle">event</i>
                           {{ movie.year }}
                       </h5>
                    </li>
                    <li class="collection-item">
                       <h5>
                           <i class="material-icons left icon-middle red-text">turned_in</i>
                           <b>IMDB ID</b> {{ movie.imdb_id }}
                       </h5>
                    </li>
                    <li class="collection-item  blue-grey darken-1">
                       <h5>
                           <i class="material-icons left icon-middle">assessment</i>
                           <b>Total votes:</b> {{ movie.total_vote }}
                       </h5>
                    </li>
                    <li class="threed-right collection-item">
                       <h5>
                           <i class="material-icons left icon-middle yellow-text black">star</i>
                           <b>Rating:</b> {{ movie.average_rating }} / 5
                       </h5>
                        <div class="skills">
                            <div class="skill">
                                <div class="skill-bar">
                                    <div class="skill-per" per="{{ movie.percent_rating }}"></div>
                                </div>
                            </div>
                        </div>
                    </li>

                    <li class="">
                        <ul class="collapsible">
                            <li>
                                <div class="collapsible-header blue-grey darken-1">
                                    <h5>
                                        <i class="material-icons icon-middle">view_agenda</i>
                                        <b>Genres</b>
                                    </h5>
                                </div>
                                <div class="collapsible-body">
                                    <ul class="collection">
                                       {% for genre in movie.genres.all %}
                                           <li class="collection-item">
                                               {{ genre }}
                                           </li>
                                       {% endfor %}
                                   </ul>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <li class="">
                        <ul class="collapsible">
                            <li>
                                <div class="collapsible-header">
                                    <h5>
                                        <i class="material-icons icon-middle">person</i>
                                        <b>Directors</b>
                                    </h5>
                                </div>
                                <div class="collapsible-body">
                                    <ul class="collection">
                                       {% for director in movie.directors.all %}
                                           <li class="collection-item">
                                               {{ director }}
                                           </li>
                                       {% endfor %}
                                   </ul>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <li class="">
                        <ul class="collapsible">
                            <li>
                                <div class="collapsible-header blue-grey darken-1">
                                    <h5>
                                        <i class="material-icons icon-middle blue">public</i>
                                        <b>Countries</b>
                                    </h5>
                                </div>
                                <div class="collapsible-body">
                                    <ul class="collection">
                                       {% for country in movie.countries.all %}
                                           <li class="collection-item">
                                               {{ country }}
                                           </li>
                                       {% endfor %}
                                   </ul>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock content %}