.weight-full {
    width: 100%;
}

.user-info {
    margin-left: 2%;
}


.icon-middle {
    display: inline-flex;
    vertical-align: bottom;
}

.threed-right:hover, .treed-right-list > li:hover {
  box-shadow:
    10px 1px rgba(30, 26, 26, 0.19),
    2px 2px 1px 1px rgba(30, 26, 26, 0.19),
    3px 3px 1px 1px rgba(30, 26, 26, 0.19),
    4px 4px 1px 1px rgba(30, 26, 26, 0.19),
    5px 5px 1px 1px rgba(30, 26, 26, 0.19),
    6px 6px 1px 1px rgba(30, 26, 26, 0.19),
    7px 7px 1px 1px rgba(30, 26, 26, 0.19);
  -webkit-transform: translateX(+40px);
  transform: translateX(+40px);
}


.poster {
    width: 300px;
    height: 600px;
}

