{% extends 'base.html' %}
{% load materializecss %}


{% block content %}
    <div class="row">
        <div class="col s12">
            <h1 class="center-align">
                Login
            </h1>
        </div>
        <div class="col s4 offset-s4">
            <div class="card-panel  border">
                <form action="#" method="post">
                    {% csrf_token %}
                    {{ form|materializecss }}
                    <button class="btn black weight-full" type="submit" value="sent">
                        <i class="material-icons large icon-middle">forward</i>Login
                    </button>
                </form>
                <p>Create account if you don't have:</p>
                <a class="btn black weight-full" href="{% url 'auth:register' %}">
                    <i class="material-icons large icon-middle">person_add</i> Create an account
                </a>
            </div>
        </div>
    </div>

{% endblock content %}