{% extends 'base.html' %}
{% load materializecss %}
{% load static %}

{% block content %}

    <div class="row">
        <div class="col s4 center">
            <img class="responsive-img" src="{% static 'images/user-profile.png' %}" alt="{{ user.username }}">
            <a href="{% url 'auth:logout' %}" class="waves-effect waves-light btn center-align btn-large">
                <i class="material-icons left">exit_to_app</i>Logout
            </a>
        </div>

        <div class="col s8">
            <div class="user-info">
                <ul class="collection treed-right-list">
                    <li class="collection-item grey">
                       <h3>
                           <i class="material-icons medium left list-icon">account_circle</i>
                           {{ user.username }}
                       </h3>
                    </li>
                    <li class="collection-item grey">
                       <h3>
                           <i class="material-icons medium left list-icon">email</i>
                           {{ user.email }}
                       </h3>
                    </li>
                    <li class="collection-item grey">
                       <h3>
                           <i class="material-icons medium left list-icon">event</i>
                           <b>Joined:</b> {{ user.date_joined.date }}
                       </h3>
                    </li>
                    <li class="collection-item grey">
                       <h3>
                           <i class="material-icons medium left list-icon">access_time</i>
                           <b>Last login:</b> {{ user.last_login }}
                       </h3>
                    </li>
                </ul>
            </div>
        </div>
    </div>

{% endblock content %}
