{% extends 'base.html' %}
{% load materializecss %}


{% block content %}

    <div class="row">
        <div class="col s12">
            <h1 class="center-align">
                Create an account
            </h1>
        </div>
        <div class="col s4 offset-s4">
            <div class="card-panel  border">
                <form action="#" method="post">
                    {% csrf_token %}
                    {{ user_form|materializecss }}
                    <button class="btn black weight-full" type="submit" value="sent">
                        <i class="material-icons large">person_add</i>
                    </button>
                </form>
            </div>
        </div>
    </div>

{% endblock content %}
