
<nav class="black">
    <div class="nav-wrapper">
        <a href="#" class="brand-logo right">MovieRecommendation</a>
        <ul id="nav-mobile" class="left hide-on-med-and-down">
            {% if user.is_authenticated %}
                <li><a class="yellow-text" href="{% url 'auth:user-detail' user.username %}">{{ user.username|capfirst }}</a></li>
                <li><a class="yellow-text" href="{% url 'recommender:user_movie_list' %}">My movies</a></li>
                <li><a class="yellow-text" href="{% url 'recommender:recomend' %}">Recommendations</a></li>
            {% else %}
                <li><a class="yellow-text" href="{% url 'auth:login' %}">Login</a></li>
            {% endif %}
            <li><a href="{% url 'recommender:latest_movies' %}">Latest Movies</a></li>
        </ul>
    </div>
</nav>