{% load movie %}

{% for batch in batches %}
    <div class="row">
        {% for movie in batch %}
            <div class="col s{{ n }}">
                {% render_movie movie user %}
            </div>
        {% endfor %}
    </div>
{% empty %}
    <h1>Empty</h1>
{% endfor %}

