{% load static %}

<div class="card large hoverable">
    <div class="card-image">
        <img src="{{ movie.poster.url }}" alt="{{ movie.title }}">
        <span class="card-title yellow-text text-darken-4"><b>{{ movie.title }}</b></span>
    </div>
    <div class="card-content">
        <table class="centered">
            <thead>
                <tr>
                    <th><i class="material-icons icon-middle">event</i>Created</th>
                    <th><i class="material-icons icon-middle yellow-text black">star</i> Rating</th>
                    {% if user_rating %}
                        <th><i class="material-icons icon-middle">account_box</i>My</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ movie.year }}</td>
                    <td>{{ movie.average_rating }}</td>
                    {% if user_rating %}
                        <td>{{ user_rating }}</td>
                    {% endif %}
                </tr>
            </tbody>
        </table>
    </div>
    <div class="card-action center">
        <a  class="center blue-text" href="{% url 'recommender:movie_detail' movie.slug %}">
            <i class="material-icons icon-middle">info</i> More Info
        </a>
    </div>
</div>